<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN"> 

<Properties>
		<Property name="basePath">./logs</Property>
</Properties>


 <Appenders>
	<!-- For console -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <!-- For storing log in a file -->
    <!-- basePath is './logs' as defined in property -->
  	<!-- file name is 'automation.log' -->
  <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5000" />
   </RollingFile>
      
  </Appenders>
  
  <Loggers>
  	<!-- Logging level is defined here -->
    <Root level="debug"><!-- Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal < Off -->
      <!-- 'File' for storing logs in file' -->
      <!-- 'Console' for showing logs in console -->
      <!-- <AppenderRef ref="Console"/> -->
      <AppenderRef ref="File"/> 
    </Root>
  </Loggers>
  
</Configuration>